.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    line-height: 1.5em;
}

.banner__pesquisa {
    background-color: transparent;
    border: solid 1px var(--branco);
    border-radius: 24px;
    padding: 1em;
    color: var(--branco);
    text-align: center;
    font-family: var(--fonte-principal);
}

.banner__pesquisa:focus {
    border: solid 1px  var(--amarelo) !important;
    color: var(--amarelo);
    background-color: var(--azul-escuro);
}

.banner__pesquisa::placeholder {
    color: var(--branco);
    text-align: center;
    font-family: var(--fonte-principal);
    background: url(../img/Pesquisa.svg) no-repeat;
}


@media screen and (min-width:1024px) {
    
    .banner {
        padding: 5em;
        align-items: center;
    }
    .banner__titulo {
        font-size: 36px;
    }

    .banner__texto {
        padding: 0 0 1em 0;
    }
    .banner__pesquisa {
        border-radius: 48px;
        padding: 1em 2em;
        font-size: 18px;
        width: 50%;
}

}

@media screen and (min-width:1280px) {

    .banner__pesquisa {
        width: 35%;
    }

    .banner {
        padding: 5em 0;
    }
}