.carrossel__titulo {
    color: var(--laranja);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 1em 0 0.75em 0;
    width: 100%;
    background-color: var(--branco);
}

.swiper-slide img {
    width: 95%;
    margin-left: -50%;
}

.swiper-pagination {
    position: initial !important;
    margin: .5em 0;
}

.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.card {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin:1em;
    padding:1em;
}
.descricao {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 1em 1em 1em 0;
}
.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
}
.descricao__titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
}

.descricao__texto {
    font-size: 14px;
}

.botoes {
    display: flex;
    align-items: start;
    text-align: left;
}

.botoes__item {
    margin: 0 0.25em 0 0;
}


.botoes__ancora {
    background-color: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    padding: 1em 2.2em;
}

.estrelas {
    width: 50%;
}

@media screen and (min-width:1024px) {


    .carrossel__titulo {
        font-size: 28px;
        padding-top: 2em;
    }

    .swiper-pagination {
    
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 75%;
    }

    .swiper-button-prev, 
    .swiper-button-next {
        display: block !important;
        top: 60%;
        background-color: var(--laranja);
        padding: 1em 1.5em;
        border-radius: 100%;
        transition: all 0.2s ease-in-out;
    }
    
    .swiper-button-prev:hover, 
    .swiper-button-next:hover {

        background-color: var(--amarelo);
 
    }

    .swiper-slide img {
        width: 80%;
        margin-left: -80px;
    }

    .card {
        width: 50%;
        margin: 2em auto;
    }

}

@media screen and (min-width:1280px) {


    .carrossel__container {
        display: flex;
        gap: 3em;
        align-items: center;
        margin: 0 15vw 2em 15vw;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 50%;
    }

    .descricao {
        margin-right:1em;
    }

    .descricao__titulo {
        font-size: 32px;
        margin-bottom: .5em;
    }

}