.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.cabecalho {
    background: var(--branco);
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    /* flex-grow: 1;
    width: 50%; */
}

.container__imagem {
    padding: 0.5em;
}

.lista-menu {
    display:none;
    position: absolute;
    top:100%;
    width: 66vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    background-color: var(--branco);
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--laranja); 
    font-weight: 700; 
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo {display:none;}

.opcoes {
    display: none;
}

.container__texto {display: none;}

@media screen and (min-width: 1024px) {

    .container__titulo, 
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        display: inline-block;
    }
.container__titulo {font-weight: 400;}
.container__titulo--negrito {font-weight: 700;}

.opcoes {
    display: flex !important;
    /* width: 66%; */
}
.opcoes__item {
    padding: 1em 1em;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.opcoes__link {
    text-decoration: none;
    color: var(--preto);
}

.container__imagem--favoritos {
    display: none;
} 

.cabecalho__menu-hamburguer {
    display: none;
}

.opcoes__botao:checked ~ .lista-menu {
    display: block;
    width: auto;
}

.opcoes__botao {display: none;}

.opcoes__item,
.opcoes__link,
.lista-menu__item
 {
    transition: all 0.3s ease-in-out !important;
}

.opcoes__item:hover  {
    color: var(--branco);
    background: var(--azul);

}

.opcoes__item:hover .opcoes__link {
    color: var(--branco);
}

.lista-menu__item:hover  {
    background: var(--azul);
    color: var(--branco);
}

.lista-menu__item:hover .lista-menu__link  {
    color: var(--branco);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--branco);
    background-clip: text;
    text-decoration: none;
}
}

@media screen and (min-width: 1280px) {
    
    .container__link {
        display: flex;
        align-items: center;
        color: var(--preto);
        text-decoration: none;
    }

    .container__texto {
        display: flex;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

}